@import "fonts";

#app {
  font-family: "Be Vietnam", sans-serif, "Times New Roman";
}

.menu-bar {
  ul.list-group {
    li.list-group-item {
      padding: 0;

      .dropdown-toggle {
        padding: 0.75rem 1.25rem;

        &:hover {
          background-color: darken(#fff, 5%);
          cursor: pointer;
        }
      }

      .dropdown-menu {
        padding: 0;

        .dropdown-item {
          padding: 0.5rem 1rem;
        }
      }


    }
  }
}